/* Colors Scheme */
$black: #000000;
$white: #ffffff;

$brand-dark: #171d33;

$brand-100: #68dcff;
$brand-200: #fcea6f;
$brand-300: #7fff97;
$brand-400: #192240;
$brand-500: #222c4e;


/* Gradients Map */
$gradients: (
    'cta': linear-gradient(to bottom, #fcea6f, #fef19a),
    'box': linear-gradient(to bottom, #1e3e48,  rgba(36, 75, 87, 0))
);





