.hero {
    margin: 60px 0;
    text-align: center;

    &__heading {
        font-size: clamp(34px, 2vw ,45px);
        font-weight: 600;
        line-height: clamp(47px, 2vw,59px);
        margin: 0 auto 20px;
        text-transform: capitalize;

        &--clr-1 {
            color: $brand-100;
        }

        &--clr-2 {
            color: $brand-200;
            @include sm {
                display: block;
            }
        }

        &--clr-3 {
            color: $brand-300;
            display: block;
        }
    }

    &__text {
        font-size: clamp(16px, 2vw ,20px);
        max-width: 888px;
        margin: 0 auto 80px;
    }
}